# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model weights (optional)
*.h5
*.pt
*.pth

# Environment variables
.env
